@define-color fore #e0e0e0;
@define-color back rgba(0,0,0,0.4);
@define-color back-no-a rgba(0,0,0,1);

* {
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 17px;
}

#waybar.top-bar {
    border-top: 2px solid @fore;
    background: rgba(0,0,0,0);
}
#waybar.bottom-bar {
    border-bottom: 2px solid @fore;
    background: rgba(0,0,0,0);
}
#waybar.left-bar {
    background: @fore;
}
#waybar.right-bar {
    background: @fore;
}

#custom-power,
#custom-restart,
#custom-logout,
#clock {
    color: @fore;
    padding: 0 10 0 10;
    background-color: @back;
    border: 2px solid @fore;
    margin: 0 0 0 0;
}

#tray,
#language,
#battery,
#bluetooth,
#network,
#wireplumber,
#backlight{
    color: @fore;
    padding: 0 10 0 10;
    background-color: @back;
    border: 2px solid @fore;
    margin: 0 0 0 0;
}

#workspaces button {
    background: none;
    box-shadow: none;
    color: @fore;
    padding: 0 5 0 5;
}

#workspaces {
    border: 2px solid @fore;
}

